{% extends 'base.html' %}

{% load static %}

{% block title %}おすすめ | Wordbook{% endblock title %}

{% block hot_active %}active{% endblock %}

{% block content %}
  <div class="container">
    <div class="title row mt-5">

      <!-- title -->
      <div class="col-md-4 col-sm-12">
        <h1 class="text-info display-2">Hot</h1>
      </div>

      <!-- tab btn -->
      <div class="col-md-8 col-sm-8 my-auto">
        <div class="btn-group-size">
          <div class="btn-group mt-lg-5">
            <button id="wordbook-btn" class="btn btn-secondary">New!</button>
            <button id="recommender-btn" class="btn btn-secondary">おすすめ</button>
          </div>
        </div>
      </div>

    </div>

    <!-- wordbook -->
    <div class="row mb-5">
      <div class="col-lg py-4">

        <!-- new wordbook -->
        {% include 'includes/wordbook.html' %}

        <!-- recommender -->
        {% include 'includes/wordbook.html' with object_list=recommender page_obj=recommender page='recommender' id='recommender' %}

      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/notepad/hot.js' %}" type="module"></script>
{% endblock js %}
