{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}新しい問題 | Wordbook{% endblock title %}

{% block content %}
<div class="container">
  <div class="row my-5">
    <div class="col-lg-10 m-auto">

      <!-- form -->
      <form method="post">
        {% csrf_token %}
        <!-- fields -->
        <div class="mt-4">
          {{ form|crispy }}
        </div>
        <!-- btn -->
        <div class="d-flex flex-column col-lg-4 col-md-6 mx-auto">
          <button type="submit" class="btn btn-success mb-4">作成!</button>
          <a href="{% url 'notepad:note_detail' view.kwargs.pk %}" class="btn btn-outline-secondary">戻る</a>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock content %}
