{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}サインアップ{% endblock  %}
  

{% block content %}
  <div class="container">
    
    <!-- form -->
    <h1 class="mt-4">サインアップ</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="mt-4">
        <!-- {{ form.as_p }} -->
        <p>
          {{ form.username|as_crispy_field }}
        </p>
        <p>
          {{ form.password|as_crispy_field }}
        </p>
      </div>
      <button type="submit" class="btn btn-success w-25">Sign up!</button>
    </form>
  </div>
{% endblock content %}
