{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}サインアップ | Wordbook{% endblock  %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10 m-auto">
        
        <!-- form -->
        <div id="user-form" class="d-flex align-items-center">
          <form method="post" class="border rounded shadow-sm p-4">
            <h2 class="text-center">サインアップ</h2>
            {% csrf_token %}
            <div>
              <!-- fields -->
              <p>
                {{ form.username|as_crispy_field }}
              </p>
              <p>
                {{ form.password|as_crispy_field }}
              </p>
              <!-- btn -->
              <div class="text-center mt-5">
                <button type="submit" class="btn btn-success">Sign up</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
