button {
  font-family: 'Skranji', cursive;
}

.top-img {
  background-image: url("../img/top.jpg");
  background-size: cover;
  height: 720px;
}

.top-img .message {
  padding-top: 240px;
}

.top-img .message p {
  font-family: 'Skranji', cursive;
}

.container .title h1 {
  font-family: 'Bangers', cursive;
}

.container .wordbook .num-font {
  font-family: 'Bangers', cursive;
  position: absolute;
  left: 16px;
}

.container .wordbook .star-icon {
  position: absolute;
  left: 16px;
  bottom: 8px;
}

.container .wordbook .human-icon {
  position: absolute;
  left: 16px;
  bottom: 8px;
}

.container .create a {
  width: 120px;
  height: 120px;
}

.container #tag-edit {
  width: 40px;
  position: absolute;
  right: 4px;
  top: 72px;
}

.container #wordbook-user-image img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  bottom: 40px;
}

.container .edit-btn {
  position: absolute;
  right: 0;
  top: 4px;
}

.container .review-btn {
  position: absolute;
  right: 16px;
}

.container #tag-alert {
  width: 260px;
}

.container #tag-alert p {
  margin-bottom: 0;
}

.container .tag-list {
  width: 272px;
}

.container .tag-btn {
  width: 200px;
  margin: 3rem auto;
}

body header {
  font-family: 'Skranji', cursive;
}

body .wordbook {
  width: 240px;
  height: 200px;
}

body .wordbook:hover {
  text-decoration: none;
  box-shadow: 0px 2px 8px rgba(128, 128, 128, 0.5);
}

body .wordbook .fa-lock {
  position: absolute;
  left: 20px;
  top: 16px;
}

body .wordbook .update {
  position: absolute;
  bottom: 0;
  left: 16px;
}

body .user-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 16px;
  margin-bottom: 8px;
  z-index: 1050;
}
