button {
  font-family: 'Skranji', cursive;
}

.top-img {
  background-image: url("../img/top.jpg");
  background-size: cover;
  height: 720px;
}

.top-img .message {
  padding-top: 240px;
}

.top-img .message p {
  font-family: 'Skranji', cursive;
}

.container .title h1 {
  font-family: 'Bangers', cursive;
}

.container .wordbook span {
  font-family: 'Bangers', cursive;
}

.container .create a {
  width: 120px;
  height: 120px;
}

.container .edit-btn {
  position: absolute;
  right: 0;
  top: 4px;
}

.container .review-btn {
  position: absolute;
  right: 16px;
}

body header {
  font-family: 'Skranji', cursive;
}

body .wordbook {
  width: 240px;
  height: 200px;
}

body .user-image {
  width: 48px;
  height: 48px;
}
