.top-img {
  background-size: cover;
  height: 720px;
}

.top-img .message {
  padding-top: 240px;
}

.top-img .message p {
  font-family: 'Skranji', cursive;
}

.container .content {
  height: 640px;
}

.container .content .card {
  width: 240px;
  height: 200px;
}

.container .create a {
  width: 120px;
  height: 120px;
}

button {
  font-family: 'Skranji', cursive;
}

body header {
  font-family: 'Skranji', cursive;
}
