button {
  font-family: 'Skranji', cursive;
}

.top-img {
  background-image: url("../img/top.jpg");
  background-size: cover;
  height: 720px;
}

.top-img .message {
  padding-top: 240px;
}

.top-img .message p {
  font-family: 'Skranji', cursive;
}

.container .title h1 {
  font-family: 'Bangers', cursive;
}

.container .rank-num {
  font-family: 'Bangers', cursive;
}

.container .create a {
  width: 120px;
  height: 120px;
}

.container #tag-edit {
  width: 40px;
  position: absolute;
  right: 4px;
  top: 72px;
}

.container .edit-btn {
  position: absolute;
  right: 0;
  top: 4px;
}

.container .review-btn {
  position: absolute;
  right: 16px;
}

.container #tag-alert {
  width: 260px;
}

.container #tag-alert p {
  margin-bottom: 0;
}

.container .tag-list {
  width: 272px;
}

.container .tag-btn {
  width: 200px;
  margin: 3rem auto;
}

body header {
  font-family: 'Skranji', cursive;
}

body .wordbook {
  width: 240px;
  height: 200px;
}

body .user-image {
  width: 48px;
  height: 48px;
}
