{% extends 'base.html' %}

{% block title %}dashboard{% endblock title %}

{% block dashboard_active %}active{% endblock dashboard_active %}

{% block content %}
  <div class="container">

    <!-- profile -->
    <div class="row my-5">
      <div class="col-lg-3 my-5 text-info">
        <p>
          <!-- Hello {{ user.username }}!
          <br>
          Here is your dashboard! -->
        </p>
        <p>{{ user.username }}</p>
        <img src="{{ user.user_image.url }}" alt="user-image">
        <p>{{ user.describe }}</p>
        <p>{{ user.created_at }}</p>
      </div>

      <!-- wordbook -->
      <div class="col-lg-9 my-5 border border-secondary rounded d-flex flex-wrap">
        {% for item in object_list %}
          <div class="card wordbook mt-4 ml-4 text-center border-secondary">
            <div class="card-header border-secondary h5">{{ item.title|truncatechars:10 }}</div>
            <div class="card-body">
              <p class="card-text">{{ item.describe|truncatechars:40 }}</p>
              <a class="btn btn-primary" href="{% url 'notepad:note_detail' pk=item.pk %}">ノートを見る</a>
              <p class="text-secondary text-right font-italic">{{ item.updated_at }}</p>
            </div>
          </div>
        {% empty %}
          <div class="m-4 p-4 w-100 h-50">
            <p class="text-center h1 font-weight-normal text-secondary">ノートがありません。</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- create wordbook -->
    <div class="row create">
      <div class="mx-auto my-5">
        <a href="{% url 'notepad:note_new' %}" class="display-1 text-white bg-warning rounded-circle d-block text-center"><i class="fas fa-plus"></i></a>
      </div>
    </div>
  </div>
{% endblock content %}
