{% extends 'base.html' %}

{% load static %}

{% block title %}Hot | Wordbook{% endblock title %}

{% block hot_active %}active{% endblock %}

{% block content %}
  <div class="container">
    <div class="row my-5">

      <!-- wordbook -->
      <div class="col-lg border border-secondary rounded py-4">
        <div>

          <!-- tab btn -->
          <div class="btn-group mx-auto pb-4 w-25">
            <button id="wordbook-btn" class="btn btn-secondary">New!</button>
            {% if user.is_authenticated %}
              <button id="follow-btn" class="btn btn-secondary">フォロー</button>
            {% endif %}
            <button id="recommender-btn" class="btn btn-secondary">おすすめ</button>
          </div>

          <!-- new wordbook -->
          {% include 'components/wordbook.html' with object_list=object_list %}

          <!-- follow -->
          {% include 'components/wordbook.html' with object_list=follow_note id='follow' display='d-none' %}

          <!-- recommender -->
          {% include 'components/wordbook.html' with object_list=recommender id='recommender' display='d-none' %}

        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/notepad/hot.js' %}"></script>
{% endblock js %}
