{% extends 'base.html' %}

{% load static %}

{% block title %}Hot | Wordbook{% endblock title %}

{% block hot_active %}active{% endblock %}

{% block content %}
  <div class="container">

    <!-- title -->
    <div class="title row mt-5">
      <div class="col-lg-4">
        <h1 class="text-info display-2">Hot🔥</h1>
      </div>

      <!-- tab btn -->
      <div class="btn-group-size">
        <div class="btn-group mt-lg-5">
          <button id="wordbook-btn" class="btn btn-secondary">New!</button>
          {% if user.is_authenticated %}
            <button id="follow-btn" class="btn btn-secondary">フォロー</button>
          {% endif %}
          <button id="recommender-btn" class="btn btn-secondary">おすすめ</button>
        </div>
      </div>
    </div>

    <!-- wordbook -->
    <div class="row mb-5">
      <div class="col-lg py-4">
        

        <!-- new wordbook -->
        {% include 'includes/wordbook.html' %}
        <!-- follow -->
        {% include 'includes/wordbook.html' with object_list=follow page_obj=follow page='follow' id='follow' %}
        <!-- recommender -->
        {% include 'includes/wordbook.html' with object_list=recommender page_obj=recommender page='recommender' id='recommender' %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/notepad/hot.js' %}"></script>
{% endblock js %}
