{% extends 'base.html' %}


{% load static %}


{% block title %}index{% endblock title %}


{% block style %}
    <style>
        .top-img {
        background-image: url('{% static "top.jpg" %}');
    }
    </style>
{% endblock style %}


{% block content %}
    <div class="bg-dark text-white text-center top-img">
        <div class="container mx-auto pt-4">
            <p class="display-4">Welcome!</p>
            <p class="h4">There is notepad application.</p>
        </div>
    </div>
{% endblock content %}
