{% extends 'base.html' %}


{% load static %}


{% block title %}index{% endblock title %}


{% block style %}
    <style>
        .top-img {
            background-image: url('{% static "img/top.jpg" %}');
            background-size: cover;
            height: 720px;
        }
        
        .message {
            padding-top: 240px;
        }

    </style>
{% endblock style %}


{% block content %}
    <div class="bg-dark text-white text-center top-img">
        <div class="container mx-auto message">
            <p class="display-4 text-black-50">Welcome!</p>
            <p class="h4 font-weight-normal text-black-50">There is notepad application.</p>
        </div>
    </div>
{% endblock content %}
