{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}新規作成 | Wordbook{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row my-5">
      <div class="col-lg-10 m-auto">

        <!-- form -->
        <div height="80vh" class="d-flex align-items-center">
          <form method="post" class="vw-100">
            {% csrf_token %}
            <!-- fields -->
            {{ form|crispy }}
            <!-- btn -->
            <div class="d-flex flex-column col-lg-4 col-md-6 mx-auto">
              <button type="submit" class="btn btn-success my-3">作成!</button>
              <a href="{% url 'notepad:dashboard' pk=user.pk %}" class="btn btn-outline-secondary">戻る</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
