{% extends 'base.html' %}

{% load static %}

{% block title %}{{ object.title }} | Wordbook{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row my-5">

      <!-- wordbook abstract -->
      <div class="col-lg-3 col-md-6 mb-5">
        <div class="card border-secondary">

          <!-- describe -->
          <div class="card-header border-secondary h2">{{ object.title }}</div>
          <p class="card-body">{{ object.describe|linebreaksbr }}</p>
  
          <!-- btn -->
          {% if user.pk == object.user.pk %}
            <div class="d-inline-flex flex-column px-4 mb-4">
              <a href="{% url 'notepad:question_new' pk=note.pk %}" class="btn btn-primary btn-block">問題を追加する</a>
              <a href="{% url 'notepad:note_edit' pk=note.pk %}" class="btn btn-outline-secondary btn-block">ノートを編集する</a>
              <a href="{% url 'notepad:note_delete' pk=note.pk %}" class="btn btn-outline-danger btn-block">ノートを削除する</a>
            </div>
          {% endif %}

          <!-- star -->
          {% if user.is_authenticated %}
            {% if user.pk != object.user.pk %}
              <div class="ml-4">
                {% if star_state == True %}
                  <a href="{% url 'notepad:star' user_pk=user.pk note_pk=object.pk %}">
                    <i class="fas fa-star h3 text-warning"></i>
                  </a>
                  <span class="h4"> {{ star_num.num }}</span>
                {% else %}
                  <a href="{% url 'notepad:star' user_pk=user.pk note_pk=object.pk %}">
                    <i class="far fa-star h3 text-secondary"></i>
                  </a>
                  <span class="h4"> {{ star_num.num }}</span>
                {% endif %}
              </div>
            {% endif %}
          {% else %}
            <div class="ml-4">
              <i class="far fa-star h3 text-secondary"></i>
              <span class="h4"> {{ star_num.num }}</span>
            </div>
          {% endif %}

          <!-- date -->
          <p class="text-secondary font-italic text-right mr-3">更新: {{ object.updated_at }}</p>
          
        </div>
      </div>

      <!-- question list -->
      <div class="col-lg-9">
        {% for item in queryset %}
        <div class="card border-secondary mb-5">

          <!-- question title -->
          <div class="card-header border-secondary">
            {{ item.question }}

            <!-- edit btn -->
            {% if user.pk == object.user.pk %}
              <div class="edit-btn dropleft">
                <button class="btn text-secondary" type="button" data-toggle="dropdown"><i class="far fa-edit"></i></button>
                <div class="dropdown-menu">
                  <a href="{% url 'notepad:question_edit' item.pk %}" class="dropdown-item">編集する</a>
                  <a href="{% url 'notepad:question_delete' item.pk %}" class="dropdown-item">削除する</a>
                </div>
              </div>
            {% endif %}
          </div>

          <!-- answer hint btn -->
          <div class="d-flex">
            <div class="w-75 my-3">
              <button class="answer-btn btn btn-danger ml-3">答え</button>
              {% if item.hint %}
                <button  class="hint-btn btn btn-primary ml-2">ヒント</button>
              {% endif %}
            </div>

            <!-- review btn -->
            {% if user.is_authenticated %}
              <div class="review-btn my-3">
                <!-- review_listに問題のidと同じものがあれば、復習を解除 -->
                {% if item.id in review_list %}
                  <a href="{% url 'notepad:question_review' note_pk=object.pk question_pk=item.pk user_pk=user.pk %}" class="btn btn-secondary">復習を解除</a>
                {% else %}
                  <a href="{% url 'notepad:question_review' note_pk=object.pk question_pk=item.pk user_pk=user.pk %}" class="btn btn-info">復習する</a>
                {% endif %}
              </div>
            {% endif %}
          </div>

          <!-- text -->
          <div class="hint d-none mx-4 mb-3 alert alert-primary">ヒント:<br> {{ item.hint|linebreaksbr }}</div>
          <div class="answer d-none mx-4 mb-3 alert alert-danger">答え:<br> {{ item.answer|linebreaksbr }}</div>

          </div>
        {% empty %}
          <div class="card border-secondary p-4">
            <h1 class="card-body text-secondary text-center">問題がありません。</h1>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/notepad/note-detail.js' %}"></script>
{% endblock js %}
