{% extends 'base.html' %}

{% load static %}

{% block title %}Ranking | Wordbook{% endblock %}

{% block ranking_active %}active{% endblock  %}

{% block content %}
  <div class="container">

    <!-- title -->
    <div class="title row mt-5">
      <div class="col-lg-4">
        <h1 class="text-info display-2">Ranking</h1>
      </div>

      <!-- category btn -->
      <div class="col-lg-8 mt-5">
        <div class="btn-group btn-group-lg">
          <button id="star-btn" class="btn btn-secondary">いいね</button>
          <button id="user-btn" class="btn btn-secondary">ユーザー</button>
          <button id="category-btn" class="btn btn-secondary">カテゴリ</button>
        </div>
      </div>
    </div>

    <!-- ranking -->
    <div class="row">
      <div class="col-lg border border-secondary rounded my-4">

        <!-- star -->
        <div id="star" class="flex-wrap d-flex">
          {% for item in object_list %}
            <div class="wordbook card border-secondary m-3">
              <div class="card-header border-secondary">
                <span class="h4 text-danger">{{ forloop.counter }} </span>{{ item.title|truncatechars:15 }}
                <span class="text-right text-secondary"><i class="fas fa-star text-warning"></i>{{ item.star_num }}</span>
              </div>
              <div class="card-body">
                <p>{{ item.describe|truncatechars:50 }}</p>
                <a href="{% url 'notepad:note_detail' pk=item.id %}" class="btn btn-primary">ノートを見る</a>
                <a href="{% url 'notepad:dashboard' pk=item.user_id %}" class="btn btn-outline-danger">{{ item.user }}</a>
                <p class="text-secondary text-right font-italic">{{ item.updated_at }}</p>
              </div>
            </div>
          {% endfor %}
        </div>

        <!-- user -->
        <div id="user" class="flex-wrap d-none">
          {% for item in users %}
            <div class="wordbook card border-secondary m-3">
              <div class="card-header border-secondary">
                <span class="h4 text-danger">{{ forloop.counter }} </span>
                <a href="{% url 'notepad:dashboard' pk=item.id %}" class="text-info">{{ item.username|truncatechars:10 }}</a>
                <i class="fas fa-user-friends"></i>: {{ item.user_num }}
              </div>
              <div class="card-body">
                {% if item.describe %}
                  <p>{{ item.describe|linebreaksbr }}</p>
                {% endif %}
                <a href="" class="btn btn-primary">フォロー</a>
              </div>
            </div>
          {% endfor %}
        </div>

        <!-- tag -->

        <!-- pagination -->
        {% include 'includes/pagination.html' %}

      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/notepad/ranking.js' %}"></script>
{% endblock  %}
