{% extends 'base.html' %}

{% load static %}

{% block title %}Ranking | Wordbook{% endblock %}

{% block ranking_active %}active{% endblock  %}

{% block content %}
  <div class="container">

    <!-- title -->
    <div class="title row mt-5">
      <div class="col-lg-4">
        <h1 class="text-info display-2">Ranking</h1>
      </div>

      <!-- category btn -->
      <div class="btn-group-size col-lg-8 mt-lg-5">
        <div class="btn-group">
          <button id="star-btn" class="btn btn-secondary">いいね</button>
          <button id="user-btn" class="btn btn-secondary">ユーザー</button>
          <button id="category-btn" class="btn btn-secondary">カテゴリ</button>
        </div>
      </div>
    </div>

    <!-- ranking -->
    <div class="row">
      <div class="col-lg my-4">

        <!-- star -->
        <div id="star" class="border rounded shadow-sm d-none">
          <div class="d-flex flex-wrap">
            {% for num, item in num_stars.items %}
              <div class="wordbook card border-secondary m-3">

                <!-- title -->
                <div class="card-header border-secondary">
                  <span class="rank-num h4 text-danger">{{ num }}</span>
                  <a href="{% url 'notepad:note_detail' item.id %}" class="text-dark h5">
                    {{ item.title|truncatechars:15 }}
                  </a>
                </div>

                <!-- description -->
                <div class="card-body">
                  <p>{{ item.describe|truncatechars:50 }}</p>
                  <a href="{% url 'notepad:dashboard' item.user_id %}" class="btn btn-outline-danger">{{ item.user }}</a>
                  <span class="rank-num text-secondary"><i class="fas fa-star text-warning"></i>{{ item.star_num }}</span>
                  <p class="text-secondary text-right font-italic">{{ item.updated_at }}</p>
                </div>
              </div>
            {% endfor %}
          </div>

          <!-- pagination -->
          {% include 'includes/pagination.html' %}
        </div>

        <!-- user -->
        <div id="user" class="border rounded shadow-sm d-none">
          <div class="d-flex flex-wrap">
            <!-- 辞書で格納したnum_usersをdict.items()で展開 -->
            {% for num, item in num_users.items %}
              <div class="wordbook card border-secondary m-3">

                <!-- title -->
                <div class="card-header border-secondary">
                  <span class="rank-num h4 text-danger">{{ num }} </span>
                  <a href="{% url 'notepad:dashboard' pk=item.id %}" class="text-dark h5">{{ item.username|truncatechars:10 }}</a>
                  <i class="fas fa-user-friends h4"></i>
                  <span class="h4">: </span>
                  <span class="text-primary h4">{{ item.user_num }}</span>
                </div>

                <!-- description -->
                <div class="card-body">
                  {% if item.describe %}
                    <p>{{ item.describe|linebreaksbr }}</p>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>

          <!-- pagination -->
          {% include 'includes/pagination.html' with object_list=users page_obj=users page='user' %}
        </div>

        <!-- tag -->
        <div id="category" class="border rounded shadow-sm d-none">
          <div class="d-flex flex-wrap">
            {% for num, item in num_tag.items %}
              <div class="wordbook card border-secondary m-3">

                <!-- title -->
                <div class="card-header border-secondary">
                  <span class="rank-num h4 text-danger">{{ num }}</span>
                  <a href="{% url 'notepad:note_detail' item.id %}" class="text-dark h5">
                    {{ item.title|truncatechars:15 }}
                  </a>
                </div>

                <!-- description -->
                <div class="card-body">
                  <p>{{ item.describe|truncatechars:50 }}</p>
                  <a href="{% url 'notepad:dashboard' item.user_id %}" class="btn btn-outline-danger">{{ item.user }}</a>
                  <span class="rank-num text-secondary"><i class="fas fa-star text-warning"></i>{{ item.star_num }}</span>
                  <p class="text-secondary text-right font-italic">{{ item.updated_at }}</p>
                </div>
              </div>
            {% endfor %}
          </div>

          <!-- pagination -->
          {% include 'includes/pagination.html' %}
        </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/notepad/ranking.js' %}" type="module"></script>
{% endblock  %}
