boto3==1.16.43
botocore==1.19.43
cachetools==4.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
Django==2.2.20
django-crispy-forms==1.9.2
django-debug-toolbar==2.2.1
django-environ==0.4.5
django-guardian==2.3.0
django-sass==1.0.0
django-storages==1.11.1
google-api-core==1.24.1
google-auth==1.24.0
google-cloud-core==1.5.0
google-cloud-storage==1.35.0
google-crc32c==1.1.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
gunicorn==20.0.4
idna==2.10
jmespath==0.10.0
libsass==0.20.1
Pillow==8.1.2
protobuf==3.14.0
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.1
rsa==4.7
s3transfer==0.3.3
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
whitenoise==5.2.0
