{% load static %}

<div id="{{ id }}" class="d-none">
  <div class="border rounded shadow-sm py-2">
    <div class="d-flex flex-wrap">
      {% for num, item in ranking_list.items %}
        <a href="{% if item.title %}{% url 'notepad:note_detail' item.id %}{% elif item.username %}{% url 'notepad:dashboard' pk=item.id %}{% else %}{% url 'notepad:tag_list' item.name %}{% endif %}" class="wordbook card border-secondary text-dark m-3">

          <!-- card header -->
          <div class="card-header border-secondary h5 text-center">
            {% if num %}
              <span class="num-font h4 text-danger">{{ num }}</span>
            {% endif %}
            {{ item.title|truncatechars:10 }}
          </div>

          <!-- card body -->
          <div class="card-body">
            <p>{{ item.describe|truncatechars:50 }}</p>
            <img src="{% if item.user.image %}{{ item.user.image.url }}{% else %}{% static 'img/user_default.jpg' %}{% endif %}" alt="user image" class="user-image">
            <span class="star-icon text-secondary h5">
              <i class="fas fa-star text-warning"></i>
              <span>{{ item.star_num }}</span>
            </span>
          </div>

        </a>
      {% endfor %}
    </div>
  </div>
  
  <!-- pagination -->
  {% include 'includes/pagination.html' %}

</div>
