
<div id="{{ id }}" class="col-lg-7 mx-auto d-none">
  <div class="border rounded shadow-sm mt-4">
    <table class="table table-border table-hover">

      <!-- head -->
      <thead class="thead-dark">
        <tr>
          {% if search_list %}
            <!-- user -->
            {% if search_list.object_list.0.username %}
              <th scope="col" class="text-center">名前</th>
              <th scope="col" class="text-center">フォロワー</th>

            <!-- tag -->
            {% else %}
              <th scope="col" class="text-center">タグ</th>
              <th scope="col" class="text-center">タグ付け数</th>
            {% endif %}
          {% endif %}
        </tr>
      </thead>

      <!-- body -->
      <tbody>
        {% for item in search_list %}
          <tr>

          <!-- user -->
          {% if item.username %}
            <td class="text-center h5 font-weight-normal"><a href="{% url 'notepad:dashboard' item.id %}" class="d-block text-dark">{{ item.username }}</a></td>
            <td class="text-center">
              <i class="fas fa-user-friends mr-2"></i>
              <span class="text-primary h5">{{ item.follow_num }}</span>
            </td>
            
          <!-- tag -->
          {% else %}
            <td class="text-center h5 font-weight-normal"><a href="{% url 'notepad:tag_list' item.tag__name %}" class="d-block text-dark">{{ item.tag__name }}</a></td>
            <td class="text-center">
              <i class="fas fa-tags mr-2"></i>
              <span class="text-primary h5">{{ item.tag_num }}</span>
            </td>
          {% endif %}
            
          {% empty %}
            <div class="m-md-4 p-4 w-100 h-50">
              <p class="text-center h1 font-weight-normal text-secondary">「{{ request.GET.search }}」はありませんでした。</p>
            </div>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

  <!-- pagination -->
  {% if search_list %}
    {% include 'includes/pagination.html' %}
  {% endif %}
</div>
