{% load static %}

<div id="{{ id|default:'wordbook' }}" class="border rounded shadow-sm d-none">
  <div class="flex-wrap d-flex">
    {% for item in object_list %}
      <a href="{% url 'notepad:note_detail' pk=item.pk %}" class="wordbook card text-dark my-4 ml-4 border-secondary position-relative">
        <!-- card header -->
        <div class="card-header border-secondary h5 text-center">
          {% if item.public == 0 %}
            <i class="fas fa-lock text-secondary"></i>
          {% endif %}
          {{ item.title|truncatechars:10 }}
        </div>
        <!-- card body -->
        <div class="card-body">
          <p class="card-text">{{ item.describe|truncatechars:50 }}</p>
          <img src="{% if item.user.image %}{{ item.user.image.url }}{% else %}{% static 'img/user_default.jpg' %}{% endif %}" alt="user image" class="user-image">
          <span class="star-icon text-secondary h5">
            <i class="fas fa-star text-warning"></i>
            <span>{{ item.star_num }}</span>
          </span>
        </div>
      </a>
    {% empty %}
      <div class="m-md-4 p-4 w-100 h-50">
        <p class="text-center h1 font-weight-normal text-secondary">{{ name|default:'ノート' }}がありません。</p>
      </div>
    {% endfor %}
  </div>
  
  <!-- paginator -->
  {% if page_obj.has_other_pages %}
    {% include 'includes/pagination.html' %}
  {% endif %}

</div>
