
<div id="{{ id|default:'wordbook' }}" class="border border-secondary rounded d-none">
  <div class="flex-wrap d-flex">
    {% for item in object_list %}
      <div class="wordbook card my-4 ml-4 text-center border-secondary position-relative">
        <div class="card-header border-secondary h5">{{ item.title|truncatechars:15 }}</div>
        <div class="card-body">
          <p class="card-text">{{ item.describe|truncatechars:40 }}</p>
          <div class="position-absolute" style="bottom: 0">
            <a class="btn btn-primary" href="{% url 'notepad:note_detail' pk=item.pk %}">ノートを見る</a>
            {% if user.pk != item.user.pk %}
              <a href="{% url 'notepad:dashboard' pk=item.user.pk %}" class="btn btn-outline-danger">{{ item.user }}</a>
            {% endif %}
            <p class="text-secondary text-right font-italic">{{ item.updated_at }}</p>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="m-4 p-4 w-100 h-50">
        <p class="text-center h1 font-weight-normal text-secondary">{{ name|default:'ノート' }}がありません。</p>
      </div>
    {% endfor %}
  </div>
  
  <!-- pagenator -->
  {% if page_obj.has_other_pages %}
    {% include 'includes/pagination.html' %}
  {% endif %}

</div>
