
@import '../mixin';


// content
.container {
  // note
  .content {
    height: 760px;
    .wordbook {
      @include wordbook();
    }
  }
  // create note
  .create a {
    width: 120px;
    height: 120px;
  }
}