
.container {

  // note
  .content {
      height: 640px;
      .card {
        width: 240px;
        height: 200px;
      }
    }

    // create note
    .create a {
      width: 120px;
      height: 120px;
  }
}