
// content
body {
  main {
    // top
    .top-img {
      background-image: url("../img/top.jpg");
      background-size: cover;
      height: 80vh;
      margin-bottom: 40px;
      .message {
        padding-top: 200px;
        p {
          line-height: 32px;
        }
      }
    }
    // main content
    .main-content {
      p {
        line-height: 32px;
      }
    }
  }
}
