
// content
.container {
  // tag btn
  #tag-edit {
    width: 40px;
    position: absolute;
    right: 4px;
    top: 72px;
  }
  // edit btn
  .edit-btn {
    position: absolute;
    right: 0;
    top: 4px;
  }
  .review-btn {
    position: absolute;
    right: 16px;
  }
}
