body main .top-img {
  background-image: url("../img/top.jpg");
  background-size: cover;
  height: 80vh;
  margin-bottom: 40px;
}

body main .top-img .message {
  padding-top: 200px;
}

body main .top-img .message p {
  line-height: 32px;
}

body main .main-content p {
  line-height: 32px;
}

.container .title h1 {
  font-family: 'Bangers', cursive;
}

.container .wordbook .num-font {
  font-family: 'Bangers', cursive;
  position: absolute;
  left: 16px;
}

.container .wordbook .star-icon {
  position: absolute;
  left: 16px;
  bottom: 8px;
}

.container .wordbook .human-icon {
  position: absolute;
  left: 16px;
  bottom: 8px;
}

#search-form {
  height: 15vh;
}

#search-form #search-field {
  width: 60vw;
  font-family: FontAwesome;
}

#user-form {
  height: 70vh;
}

#user-form button {
  font-family: 'Skranji', cursive;
}

.container #user-describe {
  width: 200px;
  margin: 2rem auto;
}

.container .create a {
  width: 120px;
  height: 120px;
}

.container #tag-list {
  width: 200px;
}

.container #tag-edit {
  position: absolute;
  right: 0;
}

.container #wordbook-user-image img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  bottom: 40px;
}

.container .edit-btn {
  position: absolute;
  right: -4px;
  top: 4px;
}

.container .review-btn {
  position: absolute;
  right: 16px;
}

.container #tag-alert {
  width: 260px;
}

.container #tag-alert p {
  margin-bottom: 0;
}

.container .tag-list {
  width: 272px;
}

.container .tag-btn {
  width: 200px;
  margin: 3rem auto;
}

body header {
  font-family: 'Skranji', cursive;
}

body .wordbook {
  width: 240px;
  height: 200px;
}

body .wordbook:hover {
  text-decoration: none;
  box-shadow: 0px 2px 8px rgba(128, 128, 128, 0.5);
}

body .wordbook .update {
  position: absolute;
  bottom: 0;
  left: 16px;
}

body .user-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 16px;
  margin-bottom: 8px;
  z-index: 1050;
}

body .asteriskField {
  color: red;
  display: inline-block;
  margin: 0 4px;
}
