{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}プロフィール編集 | Wordbook{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row my-5">
      <div class="col-lg-10 m-auto">

        <!-- form -->
        <div id="user-edit-form" style="height: 80vh" class="d-flex align-items-center">
          <form method="post" enctype="multipart/form-data" class="vw-100">
            {% csrf_token %}
            <!-- fields -->
            {{ form.describe|as_crispy_field }}
            {{ form.image|as_crispy_field }}
            <!-- btn -->
            <div class="d-flex flex-column col-lg-4 col-md-6 mx-auto">
              <button type="submit" class="btn btn-success my-3">更新！</button>
              <a href="{% url 'notepad:dashboard' view.kwargs.pk %}" class="btn btn-outline-secondary">戻る</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
