
// minxin
@import 'mixin';

// components
@import 'registration/login';
@import 'notepad/index';
@import 'notepad/dashboard';
@import 'notepad/note_detail';


// content
body {
  header {
    font-family: 'Skranji', cursive;
  }
  .wordbook {
    @include wordbook();
  }
}
