
// minxin
@import 'mixin';

// components
@import 'registration/login';
@import 'notepad/index';
@import 'notepad/ranking';
@import 'notepad/dashboard';
@import 'notepad/note_detail';
@import 'notepad/tag_delete';


// content
body {
  header {
    font-family: 'Skranji', cursive;
  }
  .wordbook {
    @include wordbook();
  }
  .user-image {
    @include user-image();
  }
}
