
// wordbook card
@mixin wordbook() {
  width: 240px;
  height: 200px;
  &:hover {
    text-decoration: none;
    box-shadow: 0px 2px 8px rgba(gray, .5);
  }
  // updated_at
  .update {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
}

@mixin user-image() {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 16px;
  margin-bottom: 8px;
  z-index: 1050;
}
