
// mixin
@import 'mixin';

// components
@import 'notepad/index';
@import 'notepad/ranking';
@import 'notepad/search';
@import 'accounts/signup_login';
@import 'notepad/dashboard';
@import 'notepad/note_detail';
@import 'notepad/tag_delete';


// content
body {
  // フォント
  header {
    font-family: 'Skranji', cursive;
  }
  // 単語帳のwidth
  .wordbook {
    @include wordbook();
  }
  // 単語帳の画像
  .user-image {
    @include user-image();
  }
  // formの*に色付け
  .asteriskField {
    color: red;
    display: inline-block;
    margin: 0 4px;
  }
}
